*{
  margin: 0; 
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  outline: 0 !important;
  text-decoration: none !important;
}
html{
  scroll-behavior: smooth;
  font-family: "Roboto", "sans-serif" !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
#go2Top {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #392624;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    line-height: 40px;
    transition-duration: 0.6s;
    display: flex;
    justify-content: center;
    opacity: 0;
}
#go2Top:hover {
    line-height: 20px !important;
    background-color: #684743;
}
/* Scrollbar */
::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #392624;
}
/* Scrollbar */
.dark{
  background-color: #222f3e;
}
.dark .section-title{
  color: #f1f1f1;
}
.dark .section-title::before{
  background-color: #f1f1f1;
}
.dark .section-title::after{
  border: 4px solid #222f3e;
}
/* Menu */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 2%;
  z-index: 9999;
  transition: .3s linear;
  height: 10vh;
  font-family: "Roboto Slab", "sans-serif";
}
.logo img {
  height: 6vh;
  width: auto;
}
.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 1000;
  display: none;
  color: white;
}
.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #392624;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}
.navbar-menu a{
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  transition: .2s linear;
}
.navbar-menu a:hover{
  color: #684743;
}
@media screen and (max-width: 1010px){
  .home h1 {
    font-size: 50px;
  }
  .menu-toggler{
    display: block;
  }
  nav {
    position: fixed;
  }
  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 85%;
    background: white;
    right: -98%;
    top: 0;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s ease-out;
    z-index: 999;
    font-family: "Roboto Slab", "sans-serif";
  }
  .navbar-menu a{
    display: block;
    font-size: 22px;
    margin: 30px 0;
    color: #392624;
  }
  .menu-toggler {
    position: fixed;
    right: 5%;
  }
  .navbar-menu.active{
    right: 0;
  }
  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }
  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }
  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
}
@media screen and (max-width: 360px) {
  .navbar-menu a{
    font-size: 18px;
  }
}
/* Menu */
/* Header */
header {
  height: 70vh;
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: flex-start;
}
#home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-self: center;
  padding: 0% 5% 0% 5%;
  text-align: left;
  color: white;
}
#home .btn {
  color: white;
  background-color: #392624;
  padding: 3% 6% 3% 6%;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
#home .btn:hover {
  background-color: #684743;
  padding: 3% 8% 3% 8%;
}
/* Header */
/* Portfolio info */
#portfolio-info {
  height: 30vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-box {
  color: #392624;
  width: 25%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-box p {
  margin-top: 3.5%;
  color: #392624;
  line-height: 7px;
}
.info-inside {
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.info-inside p {
  text-transform: uppercase;
}
.info-inside-info {
  line-height: 15px !important;
}
@media screen and (max-width: 1040px) {
  #portfolio-info {
    flex-direction: column;
    height: 50vh;
  }
  .info-box {
    width: 100%;
  }
  .info-inside {
    width: 20%;
  }
}
/* Portfolio info */
/* About */
#technology {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  background-color: #FFFFFF;
  color: black;
  height: 100%;
}
.about-main-container {
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2E9D7;
  margin: 3%;
}
.about-main-container h2, .about-main-container p {
  color: black;
}
.row-reverse {
  flex-direction: row-reverse;
}
.about-main-container img {
  object-fit: cover;
  width: 55%;
  height: 60vh;
}
.about-container-content {
  color: #ccc;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  height: 60vh;
}
@media screen and (max-width: 850px) {
  main {
      min-height: 150vh;
  }
  .about-main-container {
      flex-direction: column;
      height: auto;
  }
  .about-main-container img {
      width: 100%;
  }
  .about-container-content {
      width: 100%;
      height: 50vh;
  }
}
/* About */
/* Projects */
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  color: black;
  flex-direction: column;
  min-height: 100vh;
}
.projects-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.project {
  margin: 2%;
  padding: 3%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F2E9D7;
  flex-direction: column;
}
.project h1:after {
  display:block;
  content: '';
  border-bottom: solid 3px #392624;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.project h1:hover:after { 
  transform: scaleX(1); 
}


.project img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5%;
}
.project a {
  margin: 5%;
}
.project a {
  background-color: #392624;
  padding: 3% 6% 3% 6%;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  color: white;
}
.project a:hover {
  background-color: #684743;
  padding: 3% 8% 3% 8%;
}
@media screen and (max-width: 1300px) {
  .project {
    width: 40%;
  }
}
@media screen and (max-width: 730px) {
  .project {
    width: 80%;
  }
}
@media screen and (max-width: 350px) {
  .project img{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 290px) {
  .project img{
    width: 150px;
    height: 150px;
  }
}
/* Projects */
/* Reviews */
#reviews-holder {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #392624;
  color: white;
  padding: 1%;
  text-align: center;
}
.slideshow-container {
  position: relative;
  background: #392624;
}
.mySlides {
  display: none;
  height: 30vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.dot-container {
  text-align: center;
  padding: 20px;
  background: #392624;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transition: 0.15s;
}
.active-slide, .dot:hover {
  background-color: white;
  height: 17px;
  width: 17px;
}
q {
  font-size: 20px;
  color: white;
}
.author {
  color: white;
}
/* Reviews */
/* Realizations */
#realizations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  color: black;
}
.articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: white;
  color: white;
  padding: 2%;
}
article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  background-color: #FFFFFF !important;
  color: white;
  padding: 2%;
}
.article-content {
  margin-bottom: 4%;
  display: flex;
  height: 60vh;
  width: 45%;
  background: no-repeat center;
  background-size: auto 100%;
}
.slider {
  animation: bounce 1.5s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  height: 80px;
  width: 43.2%;
  color: white;
  transition: 1s;
  padding: 4%;
  position: absolute;
  align-self: flex-end;
}
.slider h1 {
  transition: 2s;
  font-size: 40px;
}
.portfolio-slider {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 20px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 4%;
  z-index: 0;
  color: white;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.2s;
}
.info h1, .info p, .info a {
  margin: 0;
  margin: 2%;
}
.info a {
  justify-content: center;
  align-items: center;
  color: #392624;
  font-size: 15px;
  border: 1px solid #684743;
  border-radius: 6px;
  padding: 2% 4%;
  transition: .6s;
  color: white;
}
.info a:hover {
  background-color: #684743;
  color: #fff;
}
.article-content:hover > .info {
  opacity: 1;
  z-index: 999;
}
.article-content:hover > .slider {
  height: 60vh;
  animation: none;
}
.article-content:hover > .slider h1 {
  display: none;
}
@media screen and (max-width: 1100px){
  article {
    flex-direction: column;
  }
  .article-content {
    width: 90%;
    margin-bottom: 4%;
  }
  .slider {
    width: 86.5%;
  }
}
@media screen and (max-width: 650px) {
  .info p {
    font-size: 12px;
  }
  .portfolio-slider {
    font-size: 15px;
  }
}
@media screen and (max-width: 300px) {
  .info p {
    font-size: 11px;
  }
@media only screen and (width:320px){
  .info p {
    font-size: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .info p {
    font-size: 23px;
  }
}
}
/* Realizations */
/* Stopka kontakt */
.contact {
  position: relative;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../img/bg2.jpg);
  background-size: cover;
  padding: 50px 100px;
}
footer {
  background: rgba(0, 0, 0, 0.9) !important;
  height: 100%;
  width: 100%;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  font-size: 22px;
  color: black;
}
.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  text-align: center;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background: #392624;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: .3s;
}
.contactForm .inputBox input[type="submit"]:hover
{
  background-color: #684743;
  width: 130px;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo, .contactForm {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .contact {
    padding: 20px;
  }
}
footer {
  padding: 2%;
  background-color: #392624 !important;
  height: 55vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer img {
  height: 225px;
  width: auto;
}
@media screen and (max-width: 500px) {
  footer img {
    height: 170px;
    width: auto;
  }
}
.footer-box {
  height: 55vh;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 3%;
}
.footer-box h2 {
  font-size: 20px;
  color: white;
}
.footer-box p {
  color: #ccc;
}
.footer-box a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: .3s;
}
.footer-box a:hover {
  color: var(--main-color);
}
@media screen and (max-width: 780px) {
  footer {
      flex-direction: column;
  }
  .footer-box {
      height: auto;
      width: 100%;
  }
}
/* Stopka kontakt */
/* Artykuł */
.article-header {
  height: 90vh;
  background: url(../img/article1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}
#article-home {
  max-width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  padding: 0% 5% 0% 5%;
  text-align: left;
  color: white;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 9px rgba(66, 68, 90, 1);
}
#article-home h1 {
  font-size: 50px;
  font-weight: 500;
}
#article-home h2{
  font-size: 35px;
}
#article-home h3 {
  font-size: 20px;
  font-weight: 100;
}
#article-home p {
  font-size: 15px;
  font-weight: 100;
}
#article-home .btn {
  color: white;
  background-color: #392624;
  padding: 3% 6% 3% 6%;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  font-weight: 400;
}
#article-home .btn:hover {
  background-color: #684743;
  padding: 3% 8% 3% 8%;
}
.project-parameters {
  height: 10vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.parameters-box {
  color: #392624;
  width: 25%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parameters-box h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300 !important;
}
.parameters-box p {
  font-weight: 900 !important;
  font-size: 25px;
}
@media screen and (max-width: 1050px) {
  #article-home {
      max-width: 60%;
  }
}
@media screen and (max-width: 800px) {
  #article-home {
    justify-content: center;
      max-width: 75%;
  }
}
@media screen and (max-width: 800px) {
  #article-home {
    justify-content: center;
    max-width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .parameters-box {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .parameters-box {
    width: 100%;
  }
}
/* Artykuł */